/*==================== PORTFOLIO==============*/

ul,
ol {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* ======================== Header ================= */

.header {
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
}

.header-container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  height: 72px;
}

.addressa {
  font-style: normal;
}

.contacts {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 332px;
}

.nav {
  align-items: center;
  display: flex;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  margin: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  flex-direction: row;
  padding: 0px;
  margin-right: 76px;
}

.studio {
  color: #2e2f42;
}
.web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio-menu {
  padding: 24px 0;
}

.portfolio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ======================== Main ================== */

.section-portfolio {
  padding: 96px 0 120px;
}

.port-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.port-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.filter-but {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  align-items: flex-start;
  padding: 12px 24px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-but:hover,
.filter-but:focus {
  color: white;
  background-color: #404bbf;
  border: 1px solid transparent;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.port-buttons {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 72px;
}

.list-photo {
  display: flex;
  flex-direction: row;
}

/* ===================== Link Photo================== */

.photos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0%;
  margin-top: 0;
  margin-bottom: 0;
}

.photo {
  margin-left: 0%;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-photo {
  width: calc((100% - 48px) / 3);
}

.photo:hover .text-image {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.photo:focus .text-image {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image-container {
  position: relative;
  overflow: hidden;
}

.text-image {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color, #f4f4fd);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 0;
}
.container-photo {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 360px;
  margin-left: 0;
}

.port-title {
  margin-top: 0;
  margin-bottom: 8px;
}

.port-text {
  margin: 0;
}

/* ==================== Footer ================= */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.text-foot {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin: 0;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-left: 0;
  margin-bottom: 16px;
  display: flex;
}

.studio-footer {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-text-footer {
  margin-right: 120px;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}

.icon-footer-list {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.icon-footer-item {
  width: 40px;
  height: 40px;
}

.icon-footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon-footer-link:hover,
.icon-footer-link:focus {
  background-color: #31d0aa;
}

.icon-foot {
  fill: var(--icon-color, #f4f4fd);
}

.container-form {
  margin-left: 80px;
}

.subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.form-footer {
  display: flex;
  gap: 24px;
}

.input-footer {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.input-footer::placeholder {
  color: #ffffff;
}

.subscribe-butt {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.frame-svg {
  margin-left: 16px;
}
/*================================ Hover/Focus===========================*/
.addr-port:hover,
.addr-port:focus {
  color: #404bbf;
}
.address:hover,
.address:focus {
  color: #404bbf;
}

.contact-mail:hover,
.contact-mail:focus {
  color: #404bbf;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.studio-menu:hover,
.studio-menu:focus {
  color: #404bbf;
}

.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}
